<ion-header>
    <ion-toolbar color="personalizado">
        <ion-title class="ion-text-center">Nuevo Estado</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="estado" (ngSubmit)="guardarDatos()">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating" color="primary">Nombre</ion-label>
                        <ion-input type="text" formControlName="estd_nombre" class="form-control"></ion-input>
                    </ion-item>
                    <div id="note" *ngFor="let validation of mensajes_validacion.estd_nombre">
                        <ion-note color="danger" *ngIf="getError('estd_nombre')[(validation.type)]">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </ion-note>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating" color="primary">Pais al que pertenece</ion-label>
                        <ion-select formControlName="estd_fkpai_id" class="form-control">
                            <ion-select-option *ngFor="let pais of paises" [value]="pais.pai_id">
                                {{ pais.pai_nombre }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div id="note" *ngFor="let validation of mensajes_validacion.estd_fkpai_id">
                        <ion-note color="danger" *ngIf="getError('estd_fkpai_id')[(validation.type)]">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </ion-note>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <p class="ion-text-center">
                        <ion-button type="submit" [disabled]="!estado.valid">Guardar</ion-button>
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>