<app-toolbar nombre="Proveedor"></app-toolbar>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>
  <ion-list>
    <ion-item button *ngFor="let proveedor of proveedores">
      <ion-label class="ion-text-wrap">
        <h3>{{proveedor.prov_nombre}}</h3>
      </ion-label>

      <ion-badge class="count" slot="start">{{proveedor.prov_id}}</ion-badge>
      <ion-button color="accion" class="detailbtn" [routerLink]="['/proveedor-detalle', proveedor.prov_id]">
        <ion-icon name="information-circle-sharp"></ion-icon>
      </ion-button>
      <ion-button color="advertencia" class="updatebtn" (click)="editar(proveedor.prov_id)">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
      <ion-button color="peligro" class="deletebtn" (click)="alertEliminar(proveedor.prov_id, proveedor.prov_nombre)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="new()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>