<ion-header>
  <ion-toolbar color="personalizado">
    <ion-title>Pago Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pago"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="pago as pago">
    <ion-card-header class="center">
      <ion-card-title>
        <h3>Pago: {{ pago.pag_id }}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Monto</p>
            <h2>{{ pago.pag_monto }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Fecha de pago</p>
            <h2>{{ pago.pag_fecha_pago }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Referencia</p>
            <h2>{{ pago.pag_referencia }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Método de pago</p>
            <h2>{{ pago.metodoNombre }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>