<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>estado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let estado of estados">
    <ion-badge slot="start" color="secondary">
      <ion-label>No. {{estado.estd_id}}</ion-label>
    </ion-badge>

      <ion-label class="ion-text-wrap">
        <h3>{{estado.estd_nombre}}</h3>
      </ion-label>

      <ion-badge slot="end">Pais: {{estado.paisNombre}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="new()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>