<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>estado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let estado of estados">
      <ion-avatar slot="start">
        <img src="assets/img/1.png" alt="Foto">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>{{estado.estd_nombre}}</h3>
      </ion-label>

      <ion-badge slot="end">{{estado.estd_id}},Pais: {{estado.paisNombre}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
