<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let pais of paises">
      <ion-badge slot="start" color="secondary">
        <ion-label>No. {{pais.pai_id}}</ion-label>
      </ion-badge>

      <ion-label class="ion-text-wrap">
        <h3>{{pais.pai_nombre}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="new()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>