<app-toolbar nombre="Etiquetas"></app-toolbar>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>
  <ion-list>
    <ion-item button *ngFor="let etiqueta of etiquetas">
      <ion-avatar slot="start">
        <img src="" alt="Foto">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>{{etiqueta.eti_nombre}}</h3>
      </ion-label>

      <ion-button [routerLink]="['/etiqueta-detalle', etiqueta.eti_id]">
        <ion-icon name="information-circle-sharp"></ion-icon>
      </ion-button>

      <ion-button (click)="editar(etiqueta.eti_id)" color="warning">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>

      <ion-button (click)="alertEliminar(etiqueta.eti_id, etiqueta.eti_nombre)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-badge slot="end">{{etiqueta.eti_id}}</ion-badge>
    </ion-item>
  </ion-list>
  <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>
</ion-content>

<!-- Este boton nos redirige al formulario -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <!-- new es la funcion que hemos creado en el *.page.ts -->
  <ion-fab-button (click)="new()" color="personalizado">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>