<app-toolbar nombre="Venta"></app-toolbar>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>
  <ion-list>
    <ion-item button *ngFor="let venta of ventas">
      <ion-label class="ion-text-wrap">
        <h3>Venta: {{venta.ven_id}}</h3>
        <h3>Cliente: {{venta.clienteNombre}}</h3>
        <h3>Vendedor: {{venta.empleadoNombre}}</h3>
      </ion-label>

      <ion-badge class="count" slot="start">Total: ${{venta.ven_total}}</ion-badge>
      <ion-button color="accion" class="detailbtn" [routerLink]="['/venta-detalle', venta.ven_id]">
        <ion-icon name="information-circle-sharp"></ion-icon>
      </ion-button>
      <ion-button color="advertencia" class="updatebtn" (click)="editar(venta.ven_id)" color="warning">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
      <ion-button color="peligro" class="deletebtn" (click)="alertEliminar(venta.ven_id)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="new()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>