<ion-header>
  <ion-toolbar>
    <ion-title>Categoria-detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="categoria as categoria">
    <!--Solo tengo 1, se pregunta si existe, sino existe no manda error ni tampoco muestra nada, si existe se muestra-->
    <ion-card-header class="center">
      <ion-card-title>
        <h3>{{ categoria.cat_id }} : {{ categoria.cat_nombre }}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Descripcion de la categoria</p>
            <h2>{{ categoria.cat_descripcion }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>