<app-toolbar nombre="Empleado"></app-toolbar>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>
  <ion-list>
    <ion-item button *ngFor="let empleado of empleados">
      <ion-avatar slot="start">
        <img [src]="getImageUrl(empleado)" alt="Foto">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>{{empleado.emp_nombre}}</h3>
      </ion-label>

      <ion-button color="accion" class="detailbtn" [routerLink]="['/empleado-detalle', empleado.emp_id]">
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>

      <ion-button color="advertencia" class="updatebtn" (click)="editar(empleado.emp_id)">
        <ion-icon name="create-sharp"></ion-icon>
      </ion-button>

      <ion-button color="peligro" class="deletebtn" (click)="alertEliminar(empleado.emp_id, empleado.emp_nombre)">
        <ion-icon name="trash-sharp"></ion-icon>
      </ion-button>

      <ion-badge class="count" slot="start">{{empleado.emp_id}}</ion-badge>

    </ion-item>
  </ion-list>
  <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="new()" color="personalizado">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>