ion-thumbnail {
    --size: 140px;
    --border-radius: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-self: center;
}

/* ion-input{
    background: #E1E4E7;
    color: #2E3A45;
}

ion-button{
    --background: #233d4d;
    color: #ffffff;
    font-weight: bold;
} */

