ion-thumbnail {
    --size: 140px;
    --border-radius: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-self: center;
}

ion-button {
    margin: 0 !important;
    padding: 0 !important;
}