ion-thumbnail {
    --size: 140px;
    --border-radius: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-self: center;
}

ion-input{
    background: #fe7f2d;
    color: #233d4d;
}

ion-button{
    --background: #233d4d;
    color: #ffffff;
    font-weight: bold;
}

