ion-thumbnail {
    --size: 140px;
    --border-radius: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-self: center;
}

ion-input{
    color: #f8f7f0;
    background: #b25640;
    border-radius: 5px;
}