<ion-header>
  <ion-toolbar>
    <ion-title>puesto-detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="puesto as puesto">
    <!--Solo tengo 1, se pregunta si existe, sino existe no manda error ni tampoco muestra nada, si existe se muestra-->
    <!--     <div class="center">
      <img src="" alt="Foto">
    </div> -->
    <ion-card-header class="center">
      <ion-card-title>
        <h3>{{ puesto.pue_id }} : {{ puesto.pue_nombre }}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Salario</p>
            <h2>${{ puesto.pue_salario }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>