<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Nuevo Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="empleado" (ngSubmit)="guardarDatos()">
    <ion-grid>
      <ion-row>
        <!-- SECCIÓN DE ARCHIVO (INTEGRADA ARRIBA) -->
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Foto del Empleado</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Selector de modo -->
              <ion-segment [value]="modoArchivo" (ionChange)="cambiarModoArchivo($event.detail.value)">
                <ion-segment-button value="nuevo">
                  <ion-label>Subir Nueva Foto</ion-label>
                </ion-segment-button>
                <ion-segment-button value="existente">
                  <ion-label>Usar Foto Existente</ion-label>
                </ion-segment-button>
              </ion-segment>

              <!-- MODO: SUBIR NUEVA FOTO -->
              <div *ngIf="modoArchivo === 'nuevo'" class="ion-margin-top">
                <!-- Preview -->
                <div class="preview-container" *ngIf="previewUrl">
                  <img [src]="previewUrl" alt="Preview" class="image-preview">
                </div>

                <!-- Botón para seleccionar archivo -->
                <ion-button expand="block" color="personalizado" (click)="openFileSelector()" class="ion-margin-top">
                  <ion-icon name="camera-outline" slot="start"></ion-icon>
                  {{ previewUrl ? 'Cambiar Foto' : 'Seleccionar Foto' }}
                </ion-button>

                <!-- Info del archivo -->
                <ion-note color="medium" *ngIf="selectedFile" class="ion-margin-top">
                  Archivo seleccionado: {{selectedFile.name}} ({{selectedFile.size | number}} bytes)
                </ion-note>
              </div>

              <!-- MODO: USAR FOTO EXISTENTE -->
              <div *ngIf="modoArchivo === 'existente'" class="ion-margin-top">
                <ion-item>
                  <!-- <ion-label position="floating" color="primary">Archivo Existente</ion-label> -->
                  <ion-select formControlName="emp_fkarc_id" class="form-control">
                    <ion-select-option value="">-- Seleccione una foto --</ion-select-option>
                    <ion-select-option *ngFor="let archivo of archivos" [value]="archivo.arc_id">
                      {{ archivo.arc_nombre }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>

                <!-- Preview del archivo existente -->
                <div class="preview-container" *ngIf="empleado.value.emp_fkarc_id">
                  <img *ngFor="let archivo of archivos"
                    [src]="archivo.arc_id == empleado.value.emp_fkarc_id ? baseUrl + '/' + archivo.arc_ruta : ''"
                    alt="Archivo" class="image-preview"
                    [style.display]="archivo.arc_id == empleado.value.emp_fkarc_id ? 'block' : 'none'">
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- CAMPOS ORIGINALES DEL FORMULARIO (IGUAL A TU DISEÑO) -->
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Nombre(s)</ion-label>
            <ion-input type="text" formControlName="emp_nombre" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_nombre">
            <ion-note color="danger" *ngIf="getError('emp_nombre')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Apellido Paterno</ion-label>
            <ion-input type="text" formControlName="emp_paterno" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_paterno">
            <ion-note color="danger" *ngIf="getError('emp_paterno')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Apellido Materno</ion-label>
            <ion-input type="text" formControlName="emp_materno" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_materno">
            <ion-note color="danger" *ngIf="getError('emp_materno')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Teléfono</ion-label>
            <ion-input type="text" formControlName="emp_telefono" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_telefono">
            <ion-note color="danger" *ngIf="getError('emp_telefono')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Comisión</ion-label>
            <ion-input type="number" formControlName="emp_comision" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_comision">
            <ion-note color="danger" *ngIf="getError('emp_comision')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Hora de entrada</ion-label>
            <ion-input type="time" formControlName="emp_hora_entrada" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_hora_entrada">
            <ion-note color="danger" *ngIf="getError('emp_hora_entrada')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Hora de salida</ion-label>
            <ion-input type="time" formControlName="emp_hora_salida" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_hora_salida">
            <ion-note color="danger" *ngIf="getError('emp_hora_salida')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Fecha de nacimiento</ion-label>
            <ion-input type="date" formControlName="emp_fecha_nacimiento" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_fecha_nacimiento">
            <ion-note color="danger" *ngIf="getError('emp_fecha_nacimiento')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Fecha de alta</ion-label>
            <ion-input type="date" formControlName="emp_fecha_alta" class="form-control"></ion-input>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_fecha_alta">
            <ion-note color="danger" *ngIf="getError('emp_fecha_alta')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Domicilio</ion-label>
            <ion-select formControlName="emp_fkdom_id" class="form-control">
              <ion-select-option *ngFor="let domicilio of domicilios" [value]="domicilio.dom_id">
                {{ domicilio.dom_calle }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_fkdom_id">
            <ion-note color="danger" *ngIf="getError('emp_fkdom_id')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating" color="primary">Puesto</ion-label>
            <ion-select formControlName="emp_fkpuesto_id" class="form-control">
              <ion-select-option *ngFor="let puesto of puestos" [value]="puesto.pue_id">
                {{ puesto.pue_nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div id="note" *ngFor="let validation of mensajes_validacion.emp_fkpuesto_id">
            <ion-note color="danger" *ngIf="getError('emp_fkpuesto_id')[(validation.type)]">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-note>
          </div>
        </ion-col>
        <!-- NOTA: Ya no mostramos el select de archivo aquí porque está arriba -->

        <ion-col size="12">
          <p class="ion-text-center">
            <ion-button color="personalizado" type="submit" [disabled]="!empleado.valid || 
              (modoArchivo === 'nuevo' && !selectedFile) || 
              (modoArchivo === 'existente' && !empleado.value.emp_fkarc_id)">
              <ion-icon name="save" slot="start"></ion-icon>Guardar
            </ion-button>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>