<ion-header>
  <ion-toolbar>
    <ion-title>Cliente-detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="cliente as cliente">
    <!--Solo tengo 1, se pregunta si existe, sino existe no manda error ni tampoco muestra nada, si existe se muestra-->
    <div class="center">
      <!-- <img src="" alt="Foto"> -->
    </div>
    <ion-card-header class="center">
      <ion-card-title>
        <h3>{{ cliente.cli_id }} : {{cliente.cli_nombre}} {{cliente.cli_paterno}} {{cliente.cli_materno}}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Telefono del cliente</p>
            <h2>{{ cliente.cli_telefono }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Correo del cliente</p>
            <h2>{{ cliente.cli_correo }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Fecha de registro del cliente</p>
            <ion-icon name="calendar-number"></ion-icon>
            <h2 *ngIf="cliente.cli_fecha_registro === null || cliente.cli_fecha_registro === ''; else condicionFalsa">
              Sin Fecha de Nacimiento</h2>
            <ng-template #condicionFalsa>
              {{cliente.cli_fecha_registro | date:'y-MM-dd'}}
            </ng-template>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Domicilio del cliente</p>
            <h2>{{cliente.domicilioNombre}} Municipio {{cliente.municipioNombre}}</h2>
            <!--domicilioCliente es un objeto entonces, que datos de ese objeto quiero sacar?-->
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>