<app-toolbar nombre="Domicilios"></app-toolbar>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>
  <ion-list>
    <ion-item button *ngFor="let domicilio of domicilios">
      <!--       <ion-avatar slot="start">
        <img src="" alt="Foto">
      </ion-avatar> -->

      <ion-label class="ion-text-wrap">
        <h2>{{domicilio.dom_calle}}</h2>
        <p>{{domicilio.dom_cp}}</p>
      </ion-label>

      <ion-button color="accion" class="detailbtn" [routerLink]="['/domicilio-detalle', domicilio.dom_id]">
        <ion-icon name="information-circle-sharp"></ion-icon>
      </ion-button>

      <ion-button color="advertencia" class="updatebtn" (click)="editar(domicilio.dom_id)">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>

      <ion-button color="peligro" class="deletebtn" (click)="alertEliminar(domicilio.dom_id, domicilio.dom_calle)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-badge class="count" slot="start">{{domicilio.dom_id}}</ion-badge>

    </ion-item>
  </ion-list>
  <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>
</ion-content>

<!-- Este boton nos redirige al formulario -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <!-- new es la funcion que hemos creado en el *.page.ts -->
  <ion-fab-button (click)="new()" color="personalizado">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>