@font-face {
	font-family: 'Inter', 'sans-serif';
	src: url("../assets/fonts/Inter-Regular.ttf"); //change url accordingly
}

/* PALETA DE COLORES GLOBAL */
:root {
	--ion-font-family: 'Inter', sans-serif;

	--fondo-app: #F0F2F5;
	--color-texto: #ffffff;
	--color-borde: #CBD5E0; // Para bordes

	--color-primario: #233d4d;
	--color-primario2: #4A6FA5;

	--color-secundario1: #F7C948;
	--color-secundario2: #FF9A5A;
	--color-secundario3: #3DB389;
	--color-secundario4: #D95D5D;
}

/* Color Ionic personalizado */
.ion-color-personalizado {
	--ion-color-base: var(--color-primario);
	--ion-color-base-rgb: 35, 61, 77;
	--ion-color-contrast: var(--color-texto);
	--ion-color-contrast-rgb: 255, 255, 255;
}

/* SECUNDARIO 1 – Advertencia suave */
.ion-color-advertencia {
	--ion-color-base: var(--color-secundario1);
	--ion-color-base-rgb: 244, 211, 94;
	--ion-color-contrast: var(--color-texto);
	--ion-color-contrast-rgb: 35, 61, 77;
}

/* SECUNDARIO 2 – Edición / acción */
.ion-color-accion {
	--ion-color-base: var(--color-secundario2);
	--ion-color-base-rgb: 238, 150, 75;
	--ion-color-contrast: var(--color-texto);
	--ion-color-contrast-rgb: 255, 255, 255;
}

/* SECUNDARIO 3 – Éxito */
.ion-color-exito {
	--ion-color-base: var(--color-secundario3);
	--ion-color-base-rgb: 66, 167, 122;
	--ion-color-contrast: var(--color-texto);
	--ion-color-contrast-rgb: 255, 255, 255;
}

/* SECUNDARIO 4 – Peligro / Eliminar */
.ion-color-peligro {
	--ion-color-base: var(--color-secundario4);
	--ion-color-base-rgb: 167, 66, 66;
	--ion-color-contrast: var(--color-texto);
	--ion-color-contrast-rgb: 255, 255, 255;
}

/* HEADER Y TOOLBAR UNIFORMES */
ion-header,
ion-toolbar {
	--background: var(--color-primario);
	--color: var(--color-texto);
}

ion-title {
	font-weight: bold;
	font-size: 1.25rem;
}

/* FONDO GLOBAL */
ion-content {
	--background: var(--fondo-app);
	/* 	--color: var(--color-primario); */
}

/* SEARCHBAR */
ion-searchbar {
	--background: var(--color-primario) !important;
	--color: var(--color-texto);
	/* 	--placeholder-color: #c3d0d6; */
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator{
	background-color: var(--color-primario) !important;
	border-radius: 5px;
}

.detailbtn,
.updatebtn,
.deletebtn,
.count {
	--background: none !important;
	transition: transform 0.5s;
}

.count{
	color: var(--color-primario2);
}

.detailbtn:hover {
	--background: var(--color-secundario2) !important;
	transform: scale(1.1) !important;
}

.updatebtn:hover {
	--background: var(--color-secundario1) !important;
	transform: scale(1.1) !important;
}

.deletebtn:hover {
	--background: var(--color-secundario4) !important;
	transform: scale(1.1) !important;
}

.imgdetail {
	margin-top: 0 !important;
	padding: 0 !important;
	justify-self: center;
	width: 200px;
	height: auto;
}

/* LISTA E ÍTEMS */
ion-list {
	background: transparent !important;
}

ion-item {
	--inner-border-width: 0 !important;
	--background: transparent;
	--color: var(--color-primario2) !important;
	/* 	border-radius: 5px; */
	/* 	margin-bottom: 6px; */
	font-weight: 500;
}

ion-item:hover {
	--background: #d4d6d8;
	border-left: 3px solid var(--color-primario2) !important;
}

ion-input,
ion-select {
	border-bottom: 1px solid;
}

/* CARDS (vista detalle) */
ion-card {
	background: var(--color-texto);
	border-radius: 5px;
	padding: 12px;
	margin: 12px;
}

ion-label[color="primary"] {
	color: var(--color-primario2) !important;
}

ion-card-title,
ion-card-subtitle,
ion-label,
ion-label h2,
ion-label p {
	color: var(--color-primario2) !important;
}

/* Cambia TODOS los ion-select de la app */
.alert-wrapper {
	/* Fondo general */
	background: var(--color-primario) !important;

	/* Línea debajo del header */
	.alert-head {
		margin-bottom: 15px !important;
		border-bottom: 1px solid var(--color-borde) !important;
	}

	.alert-radio-label {
		color: var(--color-texto) !important;
	}

	/* Círculos de radio (selección) */
	.alert-radio-icon {
		border-color: var(--color-borde) !important;

		.alert-radio-inner {
			background-color: var(--color-primario2) !important;
			/* Color del círculo seleccionado */
		}
	}

	/* Línea del footer */
	.alert-button-group {
		border-top: 1px solid var(--color-borde) !important;
		background: var(--color-primario) !important;

		/* Botones */
		.alert-button {

			/* Botón CANCEL */
			&.alert-button-role-cancel {
				color: var(--color-secundario4) !important;
				font-weight: bold !important;
			}

			/* Botón OK/Confirmar */
			&.alert-button-role-default {
				color: var(--color-secundario3) !important;
				font-weight: bold !important;
			}
		}
	}
}

/* Contenedor del alert */
.alert-personalizado .alert-wrapper {
	background: var(--color-primario) !important;
	color: var(--color-texto) !important;
	border-radius: 5px !important;
}

/* Títulos */
.alert-personalizado .alert-title {
	color: var(--color-texto) !important;
}

.alert-personalizado .alert-sub-title {
	color: var(--color-texto) !important;
}

/* Mensaje */
.alert-personalizado .alert-message {
	color: var(--color-texto) !important;
}

/* Botón cancelar */
.btn-cancelar {
	font-weight: bold !important;
	color: var(--color-secundario4) !important;
	/* rojo */
	border-radius: 10px;
}

/* Botón confirmar */
.btn-confirmar {
	/* font-weight: bold !important; */
	color: var(--color-secundario3) !important;
	/* azul */
	border-radius: 10px;
}

ion-segment-button{
	--indicator-color: var(--color-primario);
}