@font-face {
	font-family: '"Rubik", sans-serif';
	src: url("../assets/fonts/Rubik-Regular.ttf"); //change url accordingly
}

/* PALETA DE COLORES GLOBAL */
:root {
	--ion-font-family: 'Rubik', sans-serif;

	--fondo-app: #E1E4E7;
	--color-primario: #233d4d;
	/* azul oscuro */
	--color-texto: #ffffff;
	/* blanco */
}

/* Color Ionic personalizado */
.ion-color-personalizado {
	--ion-color-base: var(--color-primario);
	--ion-color-base-rgb: 35, 61, 77;
	--ion-color-contrast: var(--color-texto);
	--ion-color-contrast-rgb: 255, 255, 255;
}

/* HEADER Y TOOLBAR UNIFORMES */
ion-header,
ion-toolbar {
	--background: var(--color-primario);
	--color: var(--color-texto);
}

ion-title {
	font-weight: bold;
	font-size: 1.25rem;
}

/* FONDO GLOBAL */
ion-content {
	--background: var(--fondo-app);
	/* 	--color: var(--color-primario); */
}

/* SEARCHBAR */
ion-searchbar {
	--background: var(--color-primario) !important;
	--color: var(--color-texto);
	/* 	--placeholder-color: #c3d0d6; */
}

/* LISTA E ÍTEMS */
ion-list {
	background: transparent !important;
}

ion-item {
	--inner-border-width: 0 !important;
	--background: transparent;
	--color: var(--color-primario) !important;
	/* 	border-radius: 5px; */
	/* 	margin-bottom: 6px; */
	font-weight: 500;
}

ion-item:hover {
	--background: #d4d6d8;
	border-left: 2px solid #233d4d !important;
}

ion-input,
ion-select {
	border-bottom: 1px solid;
}

/* BOTONES */
ion-button[color="personalizado"] {
	--background: var(--color-primario) !important;
	--color: var(--color-texto) !important;
	font-weight: bold;
}

/* CARDS (vista detalle) */
ion-card {
	background: #fff;
	border-radius: 5px;
	padding: 12px;
	margin: 12px;
}

ion-label[color="primary"] {
	color: var(--color-primario) !important;
}

ion-card-title,
ion-card-subtitle,
ion-label,
ion-label h2,
ion-label p {
	color: var(--color-primario) !important;
}

/* Contenedor del alert */
.alert-personalizado .alert-wrapper {
	background: var(--color-primario) !important;
	color: var(--color-texto) !important;
	border-radius: 5px !important;
}

/* Títulos */
.alert-personalizado .alert-title {
	color: var(--color-texto)!important;
}

.alert-personalizado .alert-sub-title {
	color: var(--color-texto) !important;
}

/* Mensaje */
.alert-personalizado .alert-message {
	color: var(--color-texto) !important;
}

/* Botón cancelar */
.btn-cancelar {
	font-weight: bold !important;
	color: #d9534f !important;
	/* rojo */
	border-radius: 10px;
}

/* Botón confirmar */
.btn-confirmar {
	font-weight: bold !important;
	color: #0275d8 !important;
	/* azul */
	border-radius: 10px;
}