<ion-app>
  <!-- Menú lateral -->
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <ion-list>
        <ion-item *ngFor="let enlace of enlaces" [routerLink]="enlace.ruta" routerDirection="root">
          {{ enlace.texto }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>