<ion-header>
  <ion-toolbar>
    <ion-title>Producto-detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="producto as producto">
    <!--Solo tengo 1, se pregunta si existe, sino existe no manda error ni tampoco muestra nada, si existe se muestra-->
    <div class="center">
      <img [src]="getImageUrl(producto)" alt="Foto del producto">
    </div>
    <ion-card-header class="center">
      <ion-card-title>
        <h3>{{ producto.pro_id }} : {{ producto.pro_nombre }}</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Caracteristicas</p>
            <h2>{{ producto.pro_caracteristica }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Precio</p>
            <h2>${{ producto.pro_precio }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Código de barras</p>
            <h2>{{ producto.pro_sku }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Descuento</p>
            <h2>{{ producto.pro_descuento }}%</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Cantidad disponible</p>
            <h2>{{ producto.pro_stock }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Fecha de creación</p>
            <ion-icon name="calendar-number"></ion-icon>
            <h2 *ngIf="producto.pro_fecha_creacion === null || producto.pro_fecha_creacion === ''; else condicionFalsa">
              Sin Fecha de Nacimiento</h2>
            <ng-template #condicionFalsa>
              {{producto.pro_fecha_creacion | date:'y-MM-dd'}}
            </ng-template>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Categoria</p>
            <h2>{{ producto.categoriaNombre }}</h2>
            <!--categoria es un objeto entonces, que datos de ese objeto quiero sacar?-->
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Proveedor</p>
            <h2>{{ producto.proveedorNombre }}</h2>
            <!--proveedor es un objeto entonces, que datos de ese objeto quiero sacar?-->
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Estado de venta</p>
            <h2>{{ producto.estatuNombre }}</h2>
            <!--estadodeVenta es un objeto entonces, que datos de ese objeto quiero sacar?-->
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Archivo asociado</p>
            <h2>Nombre: {{ producto.archivo.arc_nombre }} Ruta: {{ producto.archivo.arc_ruta }}</h2>
            <!--archivo es un objeto entonces, que datos de ese objeto quiero sacar?-->
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Color</p>
            <h2>{{ producto.colorNombre }}</h2>
            <!--color es un objeto entonces, que datos de ese objeto quiero sacar?-->
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>