<app-toolbar nombre="Devoluciones"></app-toolbar>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>
  <ion-list>
    <ion-item button *ngFor="let devolucion of devoluciones">
      <!--       <ion-avatar slot="start">
        <img src="" alt="Foto">
      </ion-avatar> -->

      <ion-label class="ion-text-wrap">
        <h2>{{devolucion.dev_asunto}}</h2>
        <p>Creado: {{devolucion.dev_fecha_creacion}}</p>
        <p>Cerrado: {{ devolucion.dev_fecha_cierre ? devolucion.dev_fecha_cierre : 'Pendiente' }}</p>
      </ion-label>

      <ion-button [routerLink]="['/devolucion-detalle', devolucion.dev_id]">
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>

      <ion-button (click)="editar(devolucion.dev_id)" color="warning">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>

      <ion-button (click)="alertEliminar(devolucion.dev_id, devolucion.dev_asunto)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-badge slot="end">{{devolucion.dev_id}}</ion-badge>

    </ion-item>
  </ion-list>
  <app-paginacion [total]="total" (click)="pagina($event)"></app-paginacion>
</ion-content>

<!-- Este boton nos redirige al formulario -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <!-- new es la funcion que hemos creado en el *.page.ts -->
  <ion-fab-button (click)="new()" color="personalizado">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>